@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Zen+Dots&display=swap');

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

img {
    max-width: 100%;
}

:root {
    --white: rgb(255, 255, 255);
    --light-gray: rgb(238, 238, 238);
    --gray: rgb(183, 183, 183);
    --dark-gray: rgb(51, 51, 51);
    --very-dark-gray: rgb(30, 30, 30);
    --yellow: rgb(230, 230, 0);
    --red: rgb(141, 7, 6)
}

@keyframes pulse {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
    }
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.white-shadow-left {
    box-shadow: -8px 8px 0;
    padding: 0 2rem 1rem 1rem
}

.white-shadow-right {
    box-shadow: 8px 8px 0;
    padding: 0 1rem 1rem 2rem
}

.textshadow {
    background-color: var(--light-gray);
    color: transparent;
    text-shadow: 0 2px 3px rgba(255, 255, 255, 0.8);
    -webkit-background-clip: text;
    background-clip: text;
}

.boxshadow {
    box-shadow: 0 5px 8px 8px rgba(0, 0, 0, 0.3);
}

.title {
    display: inline-block;
    max-font-size: 3rem;
    margin-bottom: 6em;
}

html {
    font-family: "Zen Dots", sans-serif;
    background: var(--gray);
    font-size: 18px;
    color: var(--light-gray);
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    height: 100%;
    background: var(--very-dark-gray);
    margin: 1em 0;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    overscroll-behavior: contain;
    /* Hidden scroll bar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

h1 {
    color: var(--yellow) !important;
}

header {
    background: var(--very-dark-gray);
    margin-top: 1em;
    width: 100%;

}

.menu-button {
    display: none;
    font-size: 1rem;
    line-height: 0.8;

    justify-content: center;
    align-items: center;
    gap: 1rem;

    transition: all 0.3s linear;
    animation: pulse 1s 3;
}

.menu-button img {
    transition: all 0.3s linear;
}

.open img {
    transform: rotateX(180deg);
}

.navbar {
    justify-content: space-between;
    align-items: center;

    margin: auto 122px;
    padding: 1em 0;
}

.navlinks {
    list-style-type: none;
    gap: 2rem;
}

.page {
    min-width: 100%;
    min-height: 100%;
    margin: auto;
    padding: 4rem 122px;

    scroll-snap-align: start;
}

.home {
    flex-direction: column;
}

.home .title {
    font-size: 3rem;
}

.about {
    grid-template-columns: repeat(2, auto);
    grid-gap: 5rem;
    font-size: 0.8rem;
}

.projects {
    max-width: 100%;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
                        "pres title"
                        "proj proj";
    grid-gap: 5rem;
}

.description-projets {
    height: 200px;

    grid-area: pres;
    text-shadow: 0 2px 2px var(--very-dark-gray);

    z-index: 5;
}

.projects .title {
    min-width: 50%;
    grid-area: title;
    margin: 0;
}

.list-projet {
    grid-area: proj;

    overflow-x: scroll;
    /* Hidden scroll bar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */

    width: 100%;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.list-projet::-webkit-scrollbar {
    display: none;
}

.create-project {
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;

}

.create-project >* {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    min-width: 250px;
    opacity: 0.5;
    transition: all 300ms ease-in-out;
}

.titre-projet {
    font-size: 0.8rem;

}

.projet-component img {
    width: 100%;
    object-fit: cover;
}

.button {
    display: none;
}

.link-active-project:hover {
    color: var(--yellow);
    text-decoration: underline;
}

.nombre-projet {
    display: none
}

.contacts {
    gap: 5rem;
    flex-direction: row-reverse;
}

.contacts .title {
    font-size: 3rem;
    margin-bottom: 0;
    min-height: 30%;
}

.form-intro {
    min-height: 30%;
}

.form {
    flex-direction: column;
    gap: 2rem;
}

.form > * {
    background: var(--very-dark-gray);
    font-size: 1rem;
    color: var(--white);
    font-family: "Zen Dots", sans-serif;

    border: 1px solid var(--light-gray);
    box-shadow: 2px 4px 0 var(--white);
    padding: 0.5rem;
}


.form ::placeholder {
    color: var(--light-gray);
    opacity: 0.2;
}

.form :focus {
    outline: none;
}

.message {
    resize: none;
    height: 10ch;
}

.send-form {
    color: transparent;
    background: var(--gray);
    -webkit-background-clip: text;
    background-clip: text;

    cursor: pointer;

    width: 50%;
    align-self: flex-end;
}

.send-form:hover {
    background: var(--light-gray);
    color: var(--dark-gray);
    box-shadow: 2px 4px 0 var(--gray);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.9);
}

.links-wrapper {
    min-width: 50%;
}

.contact-links {
    flex-direction: column;
    gap: 1rem;
}

.contact-links > * {
    display: flex;
    align-items: center;

    color: var(--white);
    border: 1px solid var(--light-gray);
    box-shadow: -2px 4px 0 var(--white);
    padding: 0;
}

.contact-links img {
    margin-right: 1em;
}

@media screen and (min-width: 1000px) {

    .active {
        font-size: 1rem;
        transform: scale(1.1);
        opacity: 1;
        z-index: 5;
    }

}

@media screen and (max-width: 1000px) {
    .container {
        margin-bottom: 0;

        flex-direction: column;

        overflow-y: scroll;
        scroll-snap-type: y mandatory;
    }

    .title {
        font-size: 1rem !important;
        align-self: flex-end;
    }

    .white-shadow-left {
        padding: 0 8px 1rem 1rem
    }

    .white-shadow-right {
        padding: 0 1rem 1rem 8px
    }

    .navbar {
        flex-direction: column;
        justify-content: center;

        margin: 0;
        padding: 1em 0 0 0;
    }

    .navbar h1 {
        font-size: 2rem;
    }

    .navlinks {
        height: 0;
        overflow: hidden;
        color: var(--gray);
        background: var(--white);
        width: 100%;

        -webkit-transition: all 1s cubic-bezier(0.36, 0.62, 1, 1);
        transition: all 1s cubic-bezier(0.36, 0.62, 1, 1);

        font-size: 0.6rem;
        align-items: center;
        justify-content: center;

        margin-top: 1em;

        box-shadow: inset 0 0 1rem var(--very-dark-gray);
    }

    .navlinks-mobile {
        padding: 1rem;
    }

    .menu-button {
        display: flex;
    }

    .page {
        padding: 1rem;
    }

    .home .title {
        align-self: flex-start;
    }

    .about {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: flex-start;

        gap: 0;
    }

    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;


        gap: 10%;
    }

    .description-projets {
        height: 299px;
        font-size: 0.6rem;
    }

    .list-projet {
        height: 100%;

        margin: 0 auto;

        position: relative;

    }

    .list-projet {
        overflow-x: visible;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .create-project {
        width: 100%;
        height: 50%;
    }

    .create-project >* {
        z-index: -1;
        opacity: 0;

        min-width: auto;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    .create-project >*.active {
        opacity: 1;
        z-index: 99;
        box-shadow: 0 0 105px -35px rgba(0, 0, 0, 0.75);
    }

    .create-project >*.prev {
        z-index: 2;
        opacity: 0.25;
        transform: translate(-125%, -50%);
    }

    .create-project >*.next {
        z-index: 2;
        opacity: 0.25;
        transform: translate(25%, -50%);
    }

    .button {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 40px;
        height: 40px;
        font-weight: 900;

        padding: 8px;
        border: 1px solid var(--white);
        border-radius: 50px;
        z-index: 5;
    }

    .nombre-projet {
        display: block;
    }

    .contacts {
        flex-direction: column;
    }

    .form-intro {
        font-size: 0.6rem;
    }

    .form > * {
        font-size: 0.6rem;
        padding: 0.2rem;
    }

    .message {
        height: 5ch;
    }

    .links-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .contact-links > * {
        height: 32px;
        overflow: hidden;
        font-size: 0.6rem;
    }

    .contact-links img {
        margin-right: 1em;
        height: 32px;
    }

}

